<!-- Loop over each object in the projects array -->
<a>{{#each blogs as |blog| }}
<section class="card">
    <p> by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
</section>
{{/each}}
</a>