<!-- Loop over each object in the blog array -->
<a>{{#each blogs as |blog| }}
<section class="card">
  <a class="card-body">
  <div class="col-md-7">
    <p>
      {{blog.title}}
    </p>
    <p class="card-text">
      {{blog.description}}
    </p>
    <p> by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
    <p>
    <button class="btn btn-primary" id="commentBtn">Add a comment</button>
  </p>
</a>
</section>
{{/each}}
</a>